CapaPresentacion/Service References/ServicePortalSubasta/ServicePortalSubastas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVCompradores">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VCompradores" nillable="true" type="tns:VCompradores" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVCompradores" nillable="true" type="tns:ArrayOfVCompradores" />
  <xs:complexType name="VCompradores">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoRepublica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdComprador" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Subasta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Localidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSubasta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPersona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VCompradores" nillable="true" type="tns:VCompradores" />
</xs:schema>