CapaPresentacion/Service References/ServicePortalSubasta/ServicePortalSubastas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.2.102/WCFPortalSubastas/ServicePortalSubastas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="listarCompradores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCompradoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="listarCompradoresResult" nillable="true" type="q1:ArrayOfVCompradores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>