CapaPresentacion/Service References/ServicioUsuarios/Servicio3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.2.102/Servicio/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Objetos" />
  <xs:import schemaLocation="http://172.19.2.102/Servicio/Servicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ComprobarAccesoCursosEnLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarAccesoCursosEnLineaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarAccesoCursosEnLineaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorTokenSeguro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreSistema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorTokenSeguroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ObtenerUsuarioPorTokenSeguroResult" nillable="true" type="q1:UsuarioSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorUsuarioContraseña">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorUsuarioContraseñaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ObtenerUsuarioPorUsuarioContraseñaResult" nillable="true" type="q2:UsuarioSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ObtenerUsuarioPorNombreUsuarioResult" nillable="true" type="q3:UsuarioSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Usuario" nillable="true" type="q4:UsuarioSSO" />
        <xs:element minOccurs="0" name="Comprobar" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Usuario" nillable="true" type="q5:UsuarioSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorRFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorRFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ObtenerUsuarioPorRFCResult" nillable="true" type="q6:UsuarioSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorClasificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdOrganismo" type="xs:int" />
        <xs:element minOccurs="0" name="IdRamo" type="xs:int" />
        <xs:element minOccurs="0" name="IdUnidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorClasificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ObtenerUsuarioPorClasificacionResult" nillable="true" type="q7:ArrayOfUsuarioSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTokenPorUsuarioContraseña">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NombreSistema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTokenPorUsuarioContraseñaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ObtenerTokenPorUsuarioContraseñaResult" nillable="true" type="q8:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTokenPorIdUsuarioSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="NombreSistema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTokenPorIdUsuarioSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTokenPorIdUsuarioSistemaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SistemasObtenerVigentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SistemasObtenerVigentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="SistemasObtenerVigentesResult" nillable="true" type="q9:ArrayOfSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SistemaObtenerPorWhereClause">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SistemaObtenerPorWhereClauseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="SistemaObtenerPorWhereClauseResult" nillable="true" type="q10:Sistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajesObtenerVigentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajesObtenerVigentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="MensajesObtenerVigentesResult" nillable="true" type="q11:ArrayOfMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajesObtenerPorSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreServicio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajesObtenerPorSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="MensajesObtenerPorSistemaResult" nillable="true" type="q12:ArrayOfMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Mensaje" nillable="true" type="q13:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMensajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdMensaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeEliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajesObtenerParaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajesObtenerParaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="MensajesObtenerParaUsuarioResult" nillable="true" type="q14:ArrayOfMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMensajeParaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Mensaje" nillable="true" type="q15:Mensaje" />
        <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarMensajeParaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeActualizarEstatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdMensaje" type="xs:int" />
        <xs:element minOccurs="0" name="IdEstatusNotificacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajeActualizarEstatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajesObtenerSiguientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="IdMensaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MensajesObtenerSiguientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="MensajesObtenerSiguientesResult" nillable="true" type="q16:ArrayOfMensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarConexionHub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarConexionHubResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarConexionHub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarConexionHubResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AsistenciasObtenerPorEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsistenciasObtenerPorEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="AsistenciasObtenerPorEmpleadoResult" nillable="true" type="q17:ArrayOfAsistencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFaltas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFaltasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerFaltasResult" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RamoObtenerLstActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RamoObtenerLstActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="RamoObtenerLstActivosResult" nillable="true" type="q19:ArrayOfRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RamoObtenerPorIdOrganismo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdOrganismo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RamoObtenerPorIdOrganismoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="RamoObtenerPorIdOrganismoResult" nillable="true" type="q20:ArrayOfRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadObtenerLstActivas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadObtenerLstActivasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="UnidadObtenerLstActivasResult" nillable="true" type="q21:ArrayOfUnidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadObtenerTodasPorRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadObtenerTodasPorRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="UnidadObtenerTodasPorRamoResult" nillable="true" type="q22:ArrayOfUnidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NominaObtenerCumpleañosPorMesRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ramo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NominaObtenerCumpleañosPorMesRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="NominaObtenerCumpleañosPorMesRamoResult" nillable="true" type="q23:ArrayOfCumpleaño" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Destinatario" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Email" nillable="true" type="q24:MailSistema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioFelicitacionHonomastico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RutaCuerpoCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EsPrueba" type="xs:boolean" />
        <xs:element minOccurs="0" name="FechaCumpleanieros" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioFelicitacionHonomasticoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvioFelicitacionHonomasticoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaContraseña">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaContraseñaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevaContraseñaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoObtenerPorNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoObtenerPorNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="TelefonoObtenerPorNombreUsuarioResult" nillable="true" type="q25:ArrayOfTelefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="lstTelefonos" nillable="true" type="q26:ArrayOfTelefono" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="TelefonoGuardarResult" nillable="true" type="q27:ArrayOfTelefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoObtenerPorIdUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoObtenerPorIdUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="TelefonoObtenerPorIdUsuarioResult" nillable="true" type="q28:ArrayOfTelefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="lstTelefono" nillable="true" type="q29:ArrayOfTelefono" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="TelefonoActualizarResult" nillable="true" type="q30:ArrayOfTelefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoObtenerTipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoObtenerTiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TelefonoObtenerTiposResult" nillable="true" type="q31:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoEliminarlst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="lstTelefonos" nillable="true" type="q32:ArrayOfTelefono" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoEliminarlstResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoGuardarPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Telefono" nillable="true" type="q33:Telefono" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoGuardarPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TelefonoGuardarPorUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoActualizarPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Telefono" nillable="true" type="q34:Telefono" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelefonoActualizarPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TelefonoActualizarPorUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelelefonoEliminarPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Telefono" nillable="true" type="q35:Telefono" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelelefonoEliminarPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfiguracionGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Configuracion" nillable="true" type="q36:Configuracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfiguracionGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfiguracionGuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfiguracionActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Configuracion" nillable="true" type="q37:Configuracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfiguracionActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfiguracionObtenerPorIdUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfiguracionObtenerPorIdUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ConfiguracionObtenerPorIdUsuarioResult" nillable="true" type="q38:Configuracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encriptar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cadena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncriptarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesEncriptar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cadena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesEncriptarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesEncriptarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpleadoGuardarCorreccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="Usuario" nillable="true" type="q39:UsuarioSSO" />
        <xs:element minOccurs="0" name="Finalizar" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpleadoGuardarCorreccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpleadoObtenerPorNumeroEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpleadoObtenerPorNumeroEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="EmpleadoObtenerPorNumeroEmpleadoResult" nillable="true" type="q40:EmpleadoSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpleadoObtenerPorIdUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUnidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpleadoObtenerPorIdUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="EmpleadoObtenerPorIdUnidadResult" nillable="true" type="q41:ArrayOfEmpleadoSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Consulta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="BuscarEmpleadoResult" nillable="true" type="q42:ArrayOfEmpleadoSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ObtenerTodosResult" nillable="true" type="q43:ArrayOfEmpleadoSSO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OficinaObtenerPorClaveRamoUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaveRamo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClaveUnidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OficinaObtenerPorClaveRamoUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="OficinaObtenerPorClaveRamoUnidadResult" nillable="true" type="q44:ArrayOfOficina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganismoObtenerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganismoObtenerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="OrganismoObtenerTodosResult" nillable="true" type="q45:ArrayOfOrganismo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganismosActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganismosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="OrganismosActivosResult" nillable="true" type="q46:ArrayOfOrganismo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="events" nillable="true" type="q47:FullCalendarEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="getEventsResult" nillable="true" type="q48:ArrayOfFullCalendarEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="events" nillable="true" type="q49:FullCalendarEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEventTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="eventsTime" nillable="true" type="q50:FullCalendarEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEventTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEvento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsGenerales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsGeneralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="getEventsGeneralesResult" nillable="true" type="q51:ArrayOfFullCalendarEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEventosPorWhereClause">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEventosPorWhereClauseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Objetos" minOccurs="0" name="ObtenerEventosPorWhereClauseResult" nillable="true" type="q52:ArrayOfFullCalendarEventos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDiaLaboral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDiaLaboralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDiaLaboralResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCantidadDiasLaborales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCantidadDiasLaboralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCantidadDiasLaboralesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDiasInhabilesPorAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Año" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDiasInhabilesPorAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerDiasInhabilesPorAñoResult" nillable="true" type="q53:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCorreoElectronico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cadena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCorreoElectronicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCorreoElectronicoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>