CapaPresentacion/Service References/ServiceSubasta/ServiceSubasta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.2.102/WCFSISubastas/ServiceSubasta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:import schemaLocation="http://172.19.2.102/WCFSISubastas/ServiceSubasta.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="obtenerSubastaProceso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerSubastaProcesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerSubastaProcesoResult" nillable="true" type="q1:Subasta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaLotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerListaLotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerListaLotesResult" nillable="true" type="q2:ArrayOfLotes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDetalleLote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubasta" type="xs:int" />
        <xs:element minOccurs="0" name="idLote" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDetalleLoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerDetalleLoteResult" nillable="true" type="q3:ArrayOfVDetallesLote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFotosBien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBien" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFotosBienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="obtenerFotosBienResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFechaSubasta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubasta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFechaSubastaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerFechaSubastaResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>